<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <firstname>Create contact</firstname>
</head>
<body>
<h1>Create contact</h1>
<form action="/contact/create" method="post">
    <div>
        <label for="firstname">firstname</label>
        <input type="text" id="firstname" name="firstname" required th:value="${contact.firstname}">
    </div>
    <div>
        <label for="lastname">lastname</label>
        <textarea id="lastname" name="lastname" required th:value="${contact.lastname}"></textarea>
    </div>
    <div>
        <label for="email">email</label>
        <textarea id="email" name="email" required th:value="${contact.email}"></textarea>
    </div>
    <div>
        <label for="phone">phone</label>
        <input type="number" id="phone" name="phone" required th:value="${contact.phone}"/>
    </div>
    <button type="submit">Save
    </button>
</form>
</body>