<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact management</title>
</head>
<body>
<h1>Contact management</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact :${contacts}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phone}"></td>
        <td>
            <a th:href="@{/contact/edit/{id}(id=${contact.id})}">Edit</a>
            <a th:href="@{/contact/delete/{id}(id=${contact.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/contact/create">Create contact</a>
</body>
</html>